@import url("http://fonts.cdnfonts.com/css/sf-pro-display");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
}
body {
  color:#687684;
  background-color: gray;
}

.container {
  max-width: 414px;

  max-height: 500px;
  background-color: white;
  padding: 12px 20px 13px 20px;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-header img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.name {
  margin-left: 8px;
  font-size: 16px;
}
.name .user {
  color: #141619;
  font-weight: bold;
}
.name .username {
  font-weight: regular;
}
.container-text {
  padding-top: 24px;
  font-weight: 300;
  font-size: 22px;

}
.container-time {
  display: flex;
  margin-top: 26px;
  font-size: 12px;
  font-weight: regular;

}
.platform {
  color: #4c9eeb;
}
.activity{
  display: flex;
  margin-top: 12px;
}
.activity div{
  padding-left: 10px;
  font-size: 16px;
}
.sepator{
  width:386px;
  height:0.1px;
  background-color:#BDC5CD;
  margin-left: -6px;
  margin:12px 0px ;
}
.tweet-activity{
  display: flex;
}
.like{
  display: flex;
  margin-right:10px;
}
.like-count{
  color:#141619;
  font-weight: bold;
  margin-right: 3px;
}
.activity-button{
  display: flex;
  justify-content: space-between;
  margin: 0px 44px;
}