@import url("http://fonts.cdnfonts.com/css/sf-pro-display");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
}
body {
  background-color: gray;
}

.container {
  width: 414px;
  height: 428px;
  background-color: white;
  padding: 12px 20px 13px 20px;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-header img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.name {
  margin-left: 8px;
  font-size: 16px;
}
.name .user {
  color: #141619;
  font-weight: bold;
}
.name .username {
  color: #687684;
  font-weight: regular;
}
.container-text {
  padding-top: 24px;
  font-weight: 300;
  font-size: 22px;
  color: #687684;
}
.container-time {
  display: flex;
  margin-top: 26px;
  font-size: 12px;
  font-weight: regular;
  color: #687684;
}
.platform {
  color: #4c9eeb;
}
